# This is Git's per-user configuration file.
[user]
#	name = Samuel Piirainen
#	email = samuel.piirainen@gmail.com
# Please adapt and uncomment the following lines:
	name = Samuel Piirainen
	email = samuel@emblica.fi
[credential]
	helper = !aws codecommit credential-helper $@
	UseHttpPath = true
[core]
  editor = nvim
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  light = false
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[safe]
	directory = /Users/samuel/dotfiles
